<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    {{{body}}}
    {{#if mess}}
    <p style="color: red;">Bạn không đủ quyển để truy cập!!!</p>
    {{/if}}
    {{#if quyen}}
    
    
    <div class="container md-5">
        <div class="md-5">
            
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>AVATAR</th>
            <th>HỌ VÀ TÊN</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th>CHỨC VỤ</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        {{#each listuser}}
        <tr>
            <td>{{this._id}}</td>
            <td ><img class="rounded-circle mx-auto d-block col-sm-3" src="{{this.avatar}}" alt=""></td>
            <td>{{this.hoten}}</td>
            <td>{{this.email}}</td>
            <td>{{this.password}}</td>
            <td>{{this.quyen}}</td>
            <td><a href="/user/formEdit/{{this._id}}" class="btn btn-primary btn-sm">EDIT</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete{{this._id}}">
                    Delete
                </button>
                <div class="modal fade" id="delete{{this._id}}" tabindex="-1" aria-labelledby="delete{{this._id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="delete{{this._id}}">Delete user?
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete this user?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <form action="/user/xoa/{{this._id}}" method="post">
                                    <input type="hidden" value={{this._id}} name="masp">
                                    <button type="submit" class="btn btn-primary">Yes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        
        
        </tr>
        {{/each}}
        </tbody>
    </table>
    
    </div>
    </div>
    {{/if}}
</body>
</html>